<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="SmartDas.Properties.Settings.ConnectionString" />
  <connectionStrings>
    <add name="SmartDas.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.10.165;Initial Catalog=SK_MESDB_V1;User ID=pcadmin;Password=didalscjf"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ERP" value="ERPSVR.SKA_SFG" />
    <!-- SKA_MFG : 평택, SKA_SFG : 서산, SKE_MFG : 삼기EV-->
    <add key="PLANTCODE" value="SK2"/>
    <!-- SK1 : 평택, SK2 : 서산-->
    <add key="prnPage" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
      
    </roleManager>
  </system.web>
</configuration>